
xml_files/custo-netconf.xml

vm-list.csv

vm-list-NTTinfra.csv

SDU ovf.txt

beautiful.py

creds-vcloud-EFL

creds-vcloud-Dalloz

creds-cube-uk

creds-vcloud-EL

creds-vcloud-ESS1

creds-vcloud-infra

creds-vcloud-infra-uk

creds-vcloud-ITO

creds-vcloud-sdu

creds-vcloud-vr3

*.csv

*.xlsx

extract_table.py

*.xml

test-vcloud.py

tablescrape.py

ServicesID.txt

scrape.py

ovftool.log

nexus_out.html

display-pools-usage-csv.sh

get_all_pool_usage.sh

get_all_template_list.sh

get_all_vm_list.sh

html_extract.py

htmltable2csv.py

creds-cube-uk2

test-libcloud.py

test-pyvcloud.py

test_scraping/EC_paris_info.html

nexus_login.txt
/ovftool_examples.txt

batch-move-vm.sh

vcdshell.sh
